#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.music-note {
  font-size: 5em;
  will-change: transform, filter;
  transition: filter 300ms;
  padding-bottom: 4rem;
}
.music-note:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.music-note.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes dance {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  25% {
    transform: rotate(10deg) translateY(-5px);
  }
  50% {
    transform: rotate(-10deg) translateY(5px);
  }
  75% {
    transform: rotate(10deg) translateY(-5px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}

.music-note.dance-trigger {
  animation: dance 0.3s linear;
}

@media (prefers-reduced-motion: reduce) {
  .music-note.dance-trigger {
    animation: none;
  }
}