.keyboard-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  gap: 16px;
  box-sizing: border-box;
}

.keyboard {
  display: flex;
  gap: 4px;
  padding: 20px;
  border-radius: 12px;
  justify-content: center;
}
.metronome-controls button{
  margin: 0 5px;
}

.keys {
  width: 60px;
  height: 200px;
  background: white;
  border: 3px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px #999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: bold;
  color: #444;
  transition: all 0.1s ease-in-out;
}

.keys:hover {
  background: #fdf5d3;
}

.keys.active {
  background: #ffe066;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.recent-history {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 12px 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: sans-serif;
}

.recent-history h3 {
  margin-top: 0;
  font-size: 16px;
  text-align: center;
}

.recent-history table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
}

.recent-history th,
.recent-history td {
  padding: 6px 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.recent-history button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
  color: #444;
  transition: all 0.2s;
}

.recent-history button:hover {
  background: #ffe066;
  border-color: #ffdd33;
}