#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.music-note {
  animation: none;
  font-size: 5em;
  will-change: transform, filter;
  padding-bottom: 1rem;
}

@keyframes dance {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  25% {
    transform: rotate(10deg) translateY(-5px);
  }
  50% {
    transform: rotate(-10deg) translateY(5px);
  }
  75% {
    transform: rotate(10deg) translateY(-5px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}

.music-note.dance-trigger {
  animation: dance 0.3s linear;
}

@media (prefers-reduced-motion: reduce) {
  .music-note.dance-trigger {
    animation: none;
  }
}